In [8]:
from sqlalchemy import create_engine, MetaData, Table, String, Column, Integer

engine=create_engine('sqlite:///college.db',echo=True)
meta=MetaData()
students=Table('students',meta,Column('sno',Integer, primary_key=True), Column('firstname', String), Column('lastname', String))

meta.create_all(engine)


                               
ins=students.insert()
"insert elements into the table Values (:rsno, :firstname,:lastname)"
conn=engine.connect()

ins=students.insert().values(sno=1,firstname='Jay',lastname='Joe')

result=conn.execute(ins)
result.inserted_primary_key

2023-03-29 10:57:17,779 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-29 10:57:17,780 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2023-03-29 10:57:17,782 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-29 10:57:17,785 INFO sqlalchemy.engine.Engine COMMIT
2023-03-29 10:57:17,789 INFO sqlalchemy.engine.Engine INSERT INTO students (sno, firstname, lastname) VALUES (?, ?, ?)
2023-03-29 10:57:17,790 INFO sqlalchemy.engine.Engine [generated in 0.00149s] (1, 'Jay', 'Joe')
2023-03-29 10:57:17,792 INFO sqlalchemy.engine.Engine ROLLBACK

OperationalError: (sqlite3.OperationalError) table students has no column named sno
[SQL: INSERT INTO students (sno, firstname, lastname) VALUES (?, ?, ?)]
[parameters: (1, 'Jay', 'Joe')]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [35]:
ins=students.insert()
conn=engine.connect()

result=conn.execute(students.insert(),[
    {'firstname':'qq','lastname':'ee'},
    {'firstname':'Say','lastname':'Lin'},
    {'firstname':'inb','lastname':'fcgh'}
    ,])

2023-03-29 00:47:04,580 INFO sqlalchemy.engine.Engine INSERT INTO students (firstname, lastname) VALUES (?, ?)
2023-03-29 00:47:04,581 INFO sqlalchemy.engine.Engine [cached since 182.4s ago] (('qq', 'ee'), ('Say', 'Lin'), ('inb', 'fcgh'))
2023-03-29 00:47:04,584 INFO sqlalchemy.engine.Engine COMMIT

In [37]:
s=students.select()
conn=engine.connect()
p=conn.execute(s)

for i in p:
    print(i)

2023-03-29 00:47:47,669 INFO sqlalchemy.engine.Engine SELECT students.id, students.firstname, students.lastname
FROM students
2023-03-29 00:47:47,670 INFO sqlalchemy.engine.Engine [cached since 225.5s ago] ()
(1, 'may', 'joe')
(2, 'Jin', 'Joe')
(3, 'Min', 'Roe')
(4, 'Say', 'Lin')
(5, 'Jay', 'Raj')
(6, 'Jin', 'Tan')
(7, 'Yoon', 'Tan')
(8, 'Joon', 'Tan')
(9, 'Kook', 'Tan')
(10, 'May', 'Joe')
(11, 'May', 'Joe')
(45, 'boo', 'oiii')
(54, 'May', 'Joe')
(55, 'boo', 'oiii')
(56, 'boo', 'oiii')
(57, 'qq', 'ee')
(58, 'inb', 'fcgh')
(59, 'qq', 'ee')
(60, 'inb', 'fcgh')
(61, 'qq', 'ee')
(62, 'inb', 'fcgh')
(63, 'qq', 'ee')
(64, 'inb', 'fcgh')
(65, 'qq', 'ee')
(66, 'Say', 'Lin')
(67, 'inb', 'fcgh')
(68, 'May', 'Joe')
(69, 'Jin', 'Joe')
(70, 'Min', 'Roe')
(71, 'Say', 'Lin')
(72, 'Jay', 'Raj')
(73, 'qq', 'ee')
(74, 'Say', 'Lin')
(75, 'inb', 'fcgh')
(76, 'qq', 'ee')
(77, 'Say', 'Lin')
(78, 'inb', 'fcgh')

In [42]:
from sqlalchemy import create_engine,MetaData,Table,Column,Integer,String
engine=create_engine('sqlite:///college.db',echo=True)
meta=MetaData()
students=Table('students',meta,Column('id',Integer,primary_key=True),Column('firstname',String),Column('lastname',String),)
meta.create_all(engine)
ins=students.insert()
'INSERT INTO students(id,firstname,lastname) VALUES(:id,:fristname,:lastname)'
conn=engine.connect()
ins=students.insert().values(firstname='May',lastname='Joe')
result=conn.execute(ins)
result.inserted_primary_key
conn.execute(students.insert(),[{'firstname':'Jin','lastname':'Joe'},{'firstname':'Min','lastname':'Roe'},{'firstname':'Say','lastname':'Lin'},{'firstname':'Jay','lastname':'Raj'},])
s=students.select()
conn=engine.connect()
result=conn.execute(s)
for row in result:
    print(row)

2023-03-29 01:02:54,313 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-29 01:02:54,314 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2023-03-29 01:02:54,314 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-29 01:02:54,317 INFO sqlalchemy.engine.Engine COMMIT
2023-03-29 01:02:54,320 INFO sqlalchemy.engine.Engine INSERT INTO students (firstname, lastname) VALUES (?, ?)
2023-03-29 01:02:54,321 INFO sqlalchemy.engine.Engine [generated in 0.00089s] ('May', 'Joe')
2023-03-29 01:02:54,324 INFO sqlalchemy.engine.Engine COMMIT
2023-03-29 01:02:54,335 INFO sqlalchemy.engine.Engine INSERT INTO students (firstname, lastname) VALUES (?, ?)
2023-03-29 01:02:54,336 INFO sqlalchemy.engine.Engine [generated in 0.00151s] (('Jin', 'Joe'), ('Min', 'Roe'), ('Say', 'Lin'), ('Jay', 'Raj'))
2023-03-29 01:02:54,338 INFO sqlalchemy.engine.Engine COMMIT
2023-03-29 01:02:54,348 INFO sqlalchemy.engine.Engine SELECT students.id, students.firstname, students.lastname
FROM students
2023-03-29 01:02:54,348 INFO sqlalchemy.engine.Engine [generated in 0.00110s] ()
(1, 'may', 'joe')
(2, 'Jin', 'Joe')
(3, 'Min', 'Roe')
(4, 'Say', 'Lin')
(5, 'Jay', 'Raj')
(6, 'Jin', 'Tan')
(7, 'Yoon', 'Tan')
(8, 'Joon', 'Tan')
(9, 'Kook', 'Tan')
(45, 'boo', 'oiii')
(55, 'boo', 'oiii')
(56, 'boo', 'oiii')
(57, 'qq', 'ee')
(58, 'inb', 'fcgh')
(59, 'qq', 'ee')
(60, 'inb', 'fcgh')
(61, 'qq', 'ee')
(62, 'inb', 'fcgh')
(63, 'qq', 'ee')
(64, 'inb', 'fcgh')
(65, 'qq', 'ee')
(66, 'Say', 'Lin')
(67, 'inb', 'fcgh')
(69, 'Jin', 'Joe')
(70, 'Min', 'Roe')
(71, 'Say', 'Lin')
(72, 'Jay', 'Raj')
(73, 'qq', 'ee')
(74, 'Say', 'Lin')
(75, 'inb', 'fcgh')
(76, 'qq', 'ee')
(77, 'Say', 'Lin')
(78, 'inb', 'fcgh')
(79, 'May', 'Joe')
(80, 'Jin', 'Joe')
(81, 'Min', 'Roe')
(82, 'Say', 'Lin')
(83, 'Jay', 'Raj')

In [8]:
from sqlalchemy import delete, text
dlt=students.delete().where(students.c.firstname=='may')
engine.execute(dlt)
dlt=students.delete()

for i in result:
    print(i)

2023-03-29 08:42:17,255 INFO sqlalchemy.engine.Engine DELETE FROM students WHERE students.firstname = ?
2023-03-29 08:42:17,256 INFO sqlalchemy.engine.Engine [generated in 0.00130s] ('may',)
2023-03-29 08:42:17,258 INFO sqlalchemy.engine.Engine COMMIT

In [9]:
sql=text('SELECT * from students')
result=engine.execute(sql).fetchall()

for record in result:
    print('\n',record)

2023-03-29 08:42:20,018 INFO sqlalchemy.engine.Engine SELECT * from students
2023-03-29 08:42:20,019 INFO sqlalchemy.engine.Engine [generated in 0.00108s] ()

 (2, 'Jin', 'Joe')

 (3, 'Min', 'Roe')

 (4, 'Say', 'Lin')

 (5, 'Jay', 'Raj')

 (6, 'Jin', 'Tan')

 (7, 'Yoon', 'Tan')

 (8, 'Joon', 'Tan')

 (9, 'Kook', 'Tan')

 (45, 'boo', 'oiii')

 (55, 'boo', 'oiii')

 (56, 'boo', 'oiii')

 (58, 'inb', 'fcgh')

 (60, 'inb', 'fcgh')

 (62, 'inb', 'fcgh')

 (64, 'inb', 'fcgh')

 (66, 'Say', 'Lin')

 (67, 'inb', 'fcgh')

 (69, 'Jin', 'Joe')

 (70, 'Min', 'Roe')

 (71, 'Say', 'Lin')

 (72, 'Jay', 'Raj')

 (74, 'Say', 'Lin')

 (75, 'inb', 'fcgh')

 (77, 'Say', 'Lin')

 (78, 'inb', 'fcgh')

 (80, 'Jin', 'Joe')

 (81, 'Min', 'Roe')

 (82, 'Say', 'Lin')

 (83, 'Jay', 'Raj')

 (84, 'jhb', 'gjy')

 (85, 'jhb', 'gjy')

 (86, 'ghjk', 'hj')

 (87, 'ghsdf', 'wedhj')

 (88, 'ewk', 'fsd')

In [2]:
from sqlalchemy import create_engine,MetaData, Column, Table, Integer, String

engine=create_engine('sqlite:///college.db',echo=True)

meta=MetaData()

students=Table('students',meta,
              Column('id',Integer, primary_key=True),
              Column('firstname',String),
              Column('lastname',String))

meta.create_all(engine)

2023-03-29 08:34:56,336 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-29 08:34:56,338 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2023-03-29 08:34:56,339 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-29 08:34:56,341 INFO sqlalchemy.engine.Engine COMMIT

In [4]:
ins=students.insert()
conn=engine.connect()
ins=students.insert().values(firstname='jhb',lastname='gjy')
result=conn.execute(ins)
result.inserted_primary_key

2023-03-29 08:37:30,657 INFO sqlalchemy.engine.Engine INSERT INTO students (firstname, lastname) VALUES (?, ?)
2023-03-29 08:37:30,659 INFO sqlalchemy.engine.Engine [cached since 9.589s ago] ('jhb', 'gjy')
2023-03-29 08:37:30,662 INFO sqlalchemy.engine.Engine COMMIT

(85,)

In [6]:
result=conn.execute(students.insert(),[
    {'firstname':'ghjk','lastname':'hj'},
    {'firstname':'ghsdf','lastname':'wedhj'},
    {'firstname':'ewk','lastname':'fsd'},
     ])

2023-03-29 08:40:38,593 INFO sqlalchemy.engine.Engine INSERT INTO students (firstname, lastname) VALUES (?, ?)
2023-03-29 08:40:38,595 INFO sqlalchemy.engine.Engine [generated in 0.00218s] (('ghjk', 'hj'), ('ghsdf', 'wedhj'), ('ewk', 'fsd'))
2023-03-29 08:40:38,598 INFO sqlalchemy.engine.Engine COMMIT

In [7]:
s=students.select()
result= conn.execute(s)
for i in result:
    print(i)

2023-03-29 08:41:14,158 INFO sqlalchemy.engine.Engine SELECT students.id, students.firstname, students.lastname
FROM students
2023-03-29 08:41:14,160 INFO sqlalchemy.engine.Engine [generated in 0.00085s] ()
(2, 'Jin', 'Joe')
(3, 'Min', 'Roe')
(4, 'Say', 'Lin')
(5, 'Jay', 'Raj')
(6, 'Jin', 'Tan')
(7, 'Yoon', 'Tan')
(8, 'Joon', 'Tan')
(9, 'Kook', 'Tan')
(45, 'boo', 'oiii')
(55, 'boo', 'oiii')
(56, 'boo', 'oiii')
(58, 'inb', 'fcgh')
(60, 'inb', 'fcgh')
(62, 'inb', 'fcgh')
(64, 'inb', 'fcgh')
(66, 'Say', 'Lin')
(67, 'inb', 'fcgh')
(69, 'Jin', 'Joe')
(70, 'Min', 'Roe')
(71, 'Say', 'Lin')
(72, 'Jay', 'Raj')
(74, 'Say', 'Lin')
(75, 'inb', 'fcgh')
(77, 'Say', 'Lin')
(78, 'inb', 'fcgh')
(80, 'Jin', 'Joe')
(81, 'Min', 'Roe')
(82, 'Say', 'Lin')
(83, 'Jay', 'Raj')
(84, 'jhb', 'gjy')
(85, 'jhb', 'gjy')
(86, 'ghjk', 'hj')
(87, 'ghsdf', 'wedhj')
(88, 'ewk', 'fsd')

In [10]:
from sqlalchemy import text
sql=text('SELECT * from students')
result=engine.execute(sql).fetchall()

for record in result:
    print('\n',record)

2023-03-29 08:48:22,205 INFO sqlalchemy.engine.Engine SELECT * from students
2023-03-29 08:48:22,205 INFO sqlalchemy.engine.Engine [cached since 362.2s ago] ()

 (2, 'Jin', 'Joe')

 (3, 'Min', 'Roe')

 (4, 'Say', 'Lin')

 (5, 'Jay', 'Raj')

 (6, 'Jin', 'Tan')

 (7, 'Yoon', 'Tan')

 (8, 'Joon', 'Tan')

 (9, 'Kook', 'Tan')

 (45, 'boo', 'oiii')

 (55, 'boo', 'oiii')

 (56, 'boo', 'oiii')

 (58, 'inb', 'fcgh')

 (60, 'inb', 'fcgh')

 (62, 'inb', 'fcgh')

 (64, 'inb', 'fcgh')

 (66, 'Say', 'Lin')

 (67, 'inb', 'fcgh')

 (69, 'Jin', 'Joe')

 (70, 'Min', 'Roe')

 (71, 'Say', 'Lin')

 (72, 'Jay', 'Raj')

 (74, 'Say', 'Lin')

 (75, 'inb', 'fcgh')

 (77, 'Say', 'Lin')

 (78, 'inb', 'fcgh')

 (80, 'Jin', 'Joe')

 (81, 'Min', 'Roe')

 (82, 'Say', 'Lin')

 (83, 'Jay', 'Raj')

 (84, 'jhb', 'gjy')

 (85, 'jhb', 'gjy')

 (86, 'ghjk', 'hj')

 (87, 'ghsdf', 'wedhj')

 (88, 'ewk', 'fsd')

In [13]:
#SQLalchemy

from sqlalchemy import create_engine,MetaData, Table, Column, Integer, String
engine=create_engine('sqlite:///college.db',echo=True)
#sqlalchemy creates a database is it doesnt exist
#create a metadata instance
meta=MetaData()
#metadata is a container object that keeps together many different features of a data base/bases beinf described 
students=Table('students',meta,Column('id',Integer, primary_key=True),Column('firstname',String),Column('lastname',String))
#create all tables
meta.create_all(engine)
##Insert
#use insert() construct
ins=students.insert()
'INSERT INTO students (id,firstname,lastname) VALUES (:id,:firstname,:lastname)'

conn=engine.connect()
ins=students.insert().values(id=1,firstname="Jay",lastname='Joe')
result=conn.execute(ins)
result.inserted_primary_key


result=conn.execute(students.insert(),[
  {'firstname':'Min','lastname':'Joe'},
  {'firstname':'Mrin','lastname':'Roe'},
  {'firstname':'Sata','lastname':'Lin'},
  {'firstname':'Miya','lastname':'Raj'},
])

s=students.select()
result= conn.execute(s)

for i in result:
    print(i)

2023-03-29 13:49:49,506 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-29 13:49:49,507 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2023-03-29 13:49:49,510 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-29 13:49:49,511 INFO sqlalchemy.engine.Engine COMMIT
2023-03-29 13:49:49,514 INFO sqlalchemy.engine.Engine INSERT INTO students (id, firstname, lastname) VALUES (?, ?, ?)
2023-03-29 13:49:49,515 INFO sqlalchemy.engine.Engine [generated in 0.00152s] (1, 'Jay', 'Joe')
2023-03-29 13:49:49,517 INFO sqlalchemy.engine.Engine ROLLBACK

IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: students.id
[SQL: INSERT INTO students (id, firstname, lastname) VALUES (?, ?, ?)]
[parameters: (1, 'Jay', 'Joe')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)